 for settings button at the bottom right */
.settings-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* Settings panel styling */
.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--overlay-color);
  color: var(--text-color);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

/* Hide settings panel by moving it up */
.settings.hide {
  transform: translateY(-100%)
}

/* Container styling for main content */
.container {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 3px 5px var(--overlay-color);
  color: var(--text-color);
  position: relative;
  text-align: center;
  width: 500px;
  max-width: 90vw;
}

/* Header styling */
h1 {
  margin: 0;
}

/* Secondary heading styling */
h2 {
  background-color: var(--overlay-color);
  padding: 8px;
  border-radius: var(--border-radius);
  margin: 0 0 40px;
}

/* Input field styling */
input {
  border: 0;
  border-radius: var(--border-radius);
  font-size: 14px;
  width: 300px;
  padding: 12px 20px;
  margin-top: 10px;
}

/* Positioning for the score display */
.score-container {
  position: absolute;
  top: 60px;
  right: 20px;
}

/* Positioning for the time display */
.time-container {
  position: absolute;
  top: 60px;
 left: 20px;
}

/* End-game screen styles */
.end-game-container {
  background-color: inherit;
  border-radius: inherit;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;/* Ensures it appears above other content */
}

/* Footer styling */
footer{
  padding-top: 50px;
  color: blue;
}
